.banner {
  background-image: url(https://arthur-littm.github.io/startup-landing/images/background.png);
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner h1 {
  color: white;
}

.banner p {
  color: white;
  opacity: 0.7;
  font-size: 20px;
}
